/* https://github.com/Eremeir/rGFLNeuralCloudCSS */
/* JustanotherSuit from scratch theme, Custom Branch Of TacticalDolls 1.6 */
body {
    background: -webkit-rgb(31, 31, 31);
    background: -o-rgb(31, 31, 31);
    background: -ms-rgb(31, 31, 31);
    background: -moz-rgb(31, 31, 31);
    background: rgb(31, 31, 31);
    background-attachment: fixed;
    background-image: url(%%background%%);
  }
  
  ::-webkit-scrollbar {
    background-color: #DBE2E9;
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #DBE2E9;
    box-shadow: inset 0 0 0 3px #9b9c8e;
    border-radius: 0px;
  }
  
  /* Header */
  /* -- Animation -- */
  @-webkit-keyframes spinner {
    from {
      -webkit-transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(-360deg);
    }
  }
  @keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }
  div#header-bottom-left a img {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 20s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  /* -- END of Animation -- */
  .res-navTop #header-bottom-right:before {
    border-top: solid 14px rgba(0, 0, 0, 0.3019607843) !important;
    border-right: solid 14px rgba(0, 0, 0, 0.3019607843) !important;
    border-left: solid 14px transparent !important;
    border-bottom: solid 14px transparent !important;
  }
  
  #header-bottom-right:before {
    content: "";
    position: absolute;
    left: 0px;
    display: block;
    width: 0px;
    margin: -4px -28px;
    right: 25px;
    background: rgba(0, 0, 0, 0);
    border-top: solid 14px transparent;
    border-right: solid 14px rgba(0, 0, 0, 0.3019607843);
    border-left: solid 14px transparent;
    border-bottom: solid 14px rgba(0, 0, 0, 0.3019607843);
  }
  
  body #header-bottom-right {
    position: absolute;
    right: 0px;
    background-color: transparent;
    padding: 4px 8px !important;
    border-top-left-radius: 0px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.3019607843);
    line-height: 20px;
    height: 20px !important;
  }
  
  body #header-bottom-right a {
    color: #f7ae00;
  }
  
  body #header {
    height: 160px;
    border: none;
    background: -webkit-rgb(31, 31, 31);
    background: -o-rgb(31, 31, 31);
    background: -ms-rgb(31, 31, 31);
    background: -moz-rgb(31, 31, 31);
    background: rgb(31, 31, 31);
    background-image: url(%%Header%%);
  }
  
  body #header #header-img {
    height: 130px;
    width: 130px;
  }
  
  #header .redditname {
    position: absolute;
    display: block;
    top: 40px;
    font-size: 0;
    height: 100px;
    width: 251px;
    left: 110px;
  }
  
  #header .redditname a {
    background-image: url(%%Logo2%%);
    display: block;
    height: 79px;
    width: 600px;
    margin-left: 30px;
    margin-top: 25px;
  }
  
  #header .tabmenu {
    top: 163px;
    position: absolute;
    display: block;
    padding: 0.5em 0px 0.5em 0px;
    margin: 0;
    margin-left: 2px;
  }
  
  /* -- Tab Menu -- */
  body.top-page div.content div.menuarea, body.comments-page div.content div.menuarea {
    margin: 20px 0px 0px 0px;
    background-color: #DBE2E9;
    border: 1px solid #9EA3A8;
    border-top: 1px solid #C2C8CF;
    border-bottom: none;
    box-shadow: inset 0 1px #E6EDF5;
    padding: 3px 0px 3px 10px;
  }
  
  /* Body Table Adjustments 
  body.listing-page div.sitetable, body.comments-page div.sitetable {
      margin-top:74px;
  }
  body.comments-page div.sitetable{
      margin-right:320px;
  }
  body.top-page div.sitetable {
      margin-top:28px;
  }
  body.comments-page div.commentarea div.sitetable {
      margin:0px;
  
  }*/
  div.content {
    margin-top: 75px;
  }
  
  body.comments-page div.sitetable.linklisting {
    margin-right: 320px;
  }
  
  /* Dropdown fix */
  div.content div.menuarea div.spacer div[style] {
    /*position: sticky;*/
    width: 200px;
    /*left: 58px;*/
  }
  
  div.content div.commentarea div.menuarea div.spacer div[style] {
    position: absolute;
  }
  
  /* Hide Tabs - Controversial, Gilded, Etc */
  #header .tabmenu li:nth-of-type(3), #header .tabmenu li:nth-of-type(4), #header .tabmenu li:nth-of-type(6), #header .tabmenu li:nth-of-type(7), #header .tabmenu li.tb-queuetools-tab {
    display: none;
  }
  
  #header .tabmenu li a {
    background-color: rgba(0, 0, 0, 0);
    color: #777777;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
    padding: 7px 0.8em 8px 0.8em;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Segoe UI, Arial, Helvetica, Verdana, sans-serif;
    position: relative;
    box-shadow: inset 0px 0px #41413e;
    transition: box-shadow 0.15s linear 0.07s;
    border: none;
  }
  
  #header .tabmenu li a:active {
    color: #777777;
    box-shadow: inset 0px -36px #777777 !important;
    transition: all 0s;
  }
  
  #header .tabmenu li.selected a {
    color: #f7ae00;
    border-bottom: #f7ae00 2px solid;
  }
  
  /* -- END Tab Menu -- */
  /* END of Header */
  /* Main Table */
  /* --- A Submission --- */
  .link {
    background-color: #DBE2E9;
    font-size: 13px;
    padding: 0.616em 1em;
    padding-left: 83px;
    min-height: 60px;
    margin: 0 320px -1px 0;
    /*max-width: 1485px;*/
    border: 1px solid #9EA3A8;
    border-top: 1px solid #C2C8CF;
    box-shadow: inset 0 1px #E6EDF5;
    position: relative;
    overflow: visible !important;
  }
  
  .rank {
    display: none;
  }
  
  .link .midcol {
    position: absolute;
    top: 0px;
    /*bottom: 0px;*/
    left: -7px;
    background-color: #DBE2E9;
    box-shadow: inset 1px 1px #DBE2E9, inset -1px 0px #DBE2E9;
    border-right: 1px solid #b9b9ad;
    display: block;
    padding: 6px 12px 0px 12px;
    width: 44px !important;
    overflow: visible;
  }
  
  .link .midcol .score {
    background-color: #838f9c;
    box-shadow: 0 1px #DBE2E9, inset 0 0 2px rgba(155, 156, 142, 0.7294117647);
    color: #ebebdb;
    font-weight: normal;
    text-align: center;
    min-width: 44px;
    padding: 0.3em 0px;
    margin: 6px 0px;
    border-radius: 1px;
  }
  
  .pinned > .link {
    padding-left: 70px;
    min-height: 132px;
  }
  
  /* -- Comments -- */
  .commentarea .sitetable {
    background-color: #DBE2E9;
    border: 1px solid #d1d8df;
    box-shadow: inset 1px 1px #838f9c, inset -1px -1px #838f9c;
    padding: 0px 0px;
    /*max-width:1496px;*/
  }
  
  .link .usertext-body .md {
    background-color: #C2C8CF;
    border: 1px solid #838f9c;
    border-radius: 1px;
    box-shadow: 0 1px #838f9c, 0 -1px #838f9c, inset 10px 0 #838f9c;
    padding: 0.8em 1.5em 0.8em 1.6em;
  }
  
  .link .flat-list.buttons li.first a {
    color: #2e2e2c;
  }
  
  .link .tagline, .link .flat-list.buttons li a, .link .domain a, .link .domain {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px !important;
    font-weight: normal;
    color: #818179;
    line-height: 18px;
  }
  
  body.comments-page div.content div.menuarea {
    position: inherit;
    box-shadow: none;
    padding: 0;
    border: none;
    margin: 0 310px 10px 10px;
    top: auto;
    width: auto;
    overflow: visible;
  }
  
  .commentarea {
    background-color: #DBE2E9;
    padding: 0.616em 1em;
    margin: 0px 320px -1px 0;
    /*max-width: 1556px;*/
    border: 1px solid #9EA3A8;
    box-shadow: inset 0 1px #E6EDF5;
    position: relative;
    overflow: visible !important;
    /*max-width: 1561px*/
  }
  
  .commentarea .infobar {
    padding: 5px;
    padding-bottom: 5px;
  }
  
  .commentarea .comment .md {
    margin: 7px 0px 4px 0px;
    padding: 2px;
  }
  
  .comment {
    margin: 0px 0px;
    padding: 8px 0px 0px 8px;
  }
  
  .comment .entry {
    position: relative;
    padding-bottom: 5px;
  }
  
  .commentarea .comment .flair {
    left: 0px;
    top: 0px;
    z-index: 2;
    box-shadow: 0 0 0 1px #9b9c8e;
    margin: 1px 5px 0px 1px;
    float: left;
  }
  
  .comment .child, .res .res-commentBoxes .comment .child {
    border-left: 1px solid rgba(174, 175, 164, 0.5019607843) !important;
    box-shadow: -1px 0px rgba(255, 255, 255, 0.2), 0 -1px #c5c6b9, 0 -2px rgba(255, 255, 255, 0.2), 0 1px #c5c6b9, 0 2px rgba(255, 255, 255, 0.2) !important;
    margin: 0px 0px 0px 24px !important;
  }
  
  .comment,
  .comment .comment,
  .comment .comment .comment,
  .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: rgba(194, 200, 207, 0.4) !important;
  }
  
  .res .res-commentBoxes .comment,
  .res .res-commentBoxes .comment .comment,
  .res .res-commentBoxes .comment .comment .comment,
  .res .res-commentBoxes .comment .comment .comment .comment,
  .res .res-commentBoxes .comment .comment .comment .comment .comment,
  .res .res-commentBoxes .comment .comment .comment .comment .comment .comment,
  .res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,
  .res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment,
  .res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  .res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  .res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  .res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: rgba(194, 200, 207, 0.4) !important;
    box-shadow: inset 0px 0px #D9DDE2 !important;
    margin: 0px !important;
  }
  
  div.sitetable div.comment,
  div.sitetable div.comment .comment,
  div.sitetable div.comment .comment .comment,
  div.sitetable div.comment .comment .comment .comment,
  div.sitetable div.comment .comment .comment .comment .comment,
  div.sitetable div.comment .comment .comment .comment .comment .comment,
  div.sitetable div.comment .comment .comment .comment .comment .comment .comment,
  div.sitetable div.comment .comment .comment .comment .comment .comment .comment .comment,
  div.sitetable div.comment .comment .comment .comment .comment .comment .comment .comment .comment,
  div.sitetable div.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  div.sitetable div.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  div.sitetable div.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  div.sitetable div.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: rgba(194, 200, 207, 0.4) !important;
  }
  
  /* -- END of Comments -- */
  /* --- END of Submission CSS --- */
  /* --- Thumbnails --- */
  .thumbnail.default, .link .thumbnail.self {
    background-image: url(%%Thumb-Preview%%);
    background-position: -2px 1px;
    background-size: auto !important;
    background-color: #acad9f;
    border-color: #74756d;
    border-bottom-color: #52524c;
    height: 70px;
  }
  
  /* Thumb Zoom */
  .thumbnail {
    height: 70px;
  }
  
  .linklisting .thing .thumbnail img {
    -webkit-transform: translateY(-50%) scale(2);
    transform: translateY(-50%) scale(2);
    margin: 50% 0% 0 0%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .linklisting .thing.stickied .thumbnail {
    background-image: url(%%Thumb-Announcements%%);
    background-position: 0px;
    background-size: auto;
    height: 70px;
    width: 70px;
  }
  
  .link .thumbnail.self {
    background-image: url(%%thumbnail%%);
    background-position: 0px;
    background-size: auto;
    height: 70px;
    width: 70px;
  }
  
  .thumbnail.nsfw {
    background-image: url(%%Thumb-NSFW%%);
    background-position: 0px;
    background-size: auto;
    height: 70px;
    width: 70px;
  }
  
  .thumbnail.spoiler {
    background-image: url(%%Thumb-Spoilers%%);
    background-position: 0px;
    background-size: auto;
    height: 70px;
    width: 70px;
  }
  
  /* --- END of Thumbnails --- */
  /* END of Main Table */
  /* Sidebar */
  /* -- Announcements Bar -- */
  .side .md ol {
    padding-left: 30px;
  }
  
  .side .md h6 {
    position: absolute;
    top: 203px;
    left: 5px;
    right: 315px;
    height: 20px;
    white-space: pre-line;
    padding: 4px 0 4px 10px;
    text-align: left;
    text-decoration: none;
    margin: 0;
    color: #2e2e2c;
    background-color: #DBE2E9;
    font-size: 13px;
    border: 1px solid #9EA3A8;
    border-top: 1px solid #C2C8CF;
    box-shadow: inset 0 1px #E6EDF5;
    margin-right: 5px;
    /*max-width: 1571px;*/
    font-weight: bold;
  }
  
  body.comments-page .side .md h6 {
    right: 320px;
  }
  
  /* -- END of Announcements Bar -- */
  body.listing-page div.side, body.comments-page div.side {
    margin-top: 36px;
  }
  
  div.side .login-form-side {
    background-color: #DBE2E9;
    border: 1px solid #9EA3A8;
    border-top: 1px solid #C2C8CF;
    box-shadow: inset 0 1px #E6EDF5;
  }
  
  .morelink, .morelink:hover, .disabled .morelink, .disabled .morelink:hover {
    background: none;
    background-image: url(%%Submission-Redesign%%);
    background-position: top;
    height: 78px;
    width: 300px;
    border: none;
    box-shadow: none;
  }
  
  .morelink a {
    font-size: 0px;
  }
  
  div.sidebox.create .morelink {
    background-color: #DBE2E9;
    border: 1px solid #9EA3A8;
    height: auto;
  }
  
  div.sidebox.create .morelink a {
    background-color: #DBE2E9;
    color: #2e2e2c;
    letter-spacing: normal;
    font-size: 14px;
  }
  
  div.side .titlebox, .infobar, #searchexpando {
    background-color: #DBE2E9;
    padding: 12px;
    padding-bottom: 0px;
    border: 1px solid #9EA3A8;
    box-shadow: inset 0 1px #E6EDF5;
    border-radius: 1px;
  }
  
  div.side .titlebox {
    background-image: url(%%Sidebar2000%%);
    background-color: transparent;
    background-repeat: round;
    height: 2027px;
    box-shadow: none;
    border: none;
  }
  
  /* Submit page Sidebar Spacing Fix */
  body.submit-page div.side .spacer:nth-of-type(4) {
    margin-top: 20px;
  }
  
  body.submit-page div.side .spacer:nth-of-type(5) {
    margin-bottom: 0px;
  }
  
  /* Sidebar Spacing Fix */
  /*Hide Flair from created text and padding*/
  .titlebox .bottom {
    padding-top: 5px;
  }
  
  div.bottom span.flair {
    display: none;
  }
  
  div.side .titlebox hr {
    background: transparent;
  }
  
  div.side .linkinfo {
    border: none;
    padding: 5px 0px 5px 10px;
    background-color: transparent;
    font-family: arial, helvetica, sans-serif;
    color: silver;
    font-size: larger;
    background-image: url(%%VotingBox100%%);
    height: 90px;
  }
  
  div.side .titlebox h1 a, div.side div.usertext-body div.md, div.side .titlebox {
    color: silver;
  }
  
  div.side div.sidebox.submit-text {
    display: none;
  }
  
  div.leavemoderator, form.leavecontributor-button, div.nub {
    display: none;
  }
  
  /* END of Sidebar */
  /* Rules Page */
  div.subreddit-rules-page {
    margin-top: 100px;
    background-color: #DBE2E9;
    border: 1px solid #9EA3A8;
    border-top: 1px solid #C2C8CF;
    box-shadow: inset 0 1px #E6EDF5;
  }
  
  /* Wikipages */
  .wiki-page .wiki-page-content {
    margin: 15px;
  }
  
  .wiki-page div.content {
    margin-top: 75px;
    background-color: #DBE2E9;
    display: table;
    width: calc(100% - 327px);
    border: 1px solid #9EA3A8;
  }
  
  .md td, .md th {
    border: 1px solid #838f9c;
  }
  
  .wiki-page .wiki-page-content .wiki.md {
    background: #DBE2E9;
    border-radius: 5px;
  }
  
  .wiki-page-content .md h1, .wiki-page-content .md h6 {
    color: black;
  }
  
  .wiki-page-content .md h2 {
    color: black;
  }
  
  .generic-table {
    color: white !important;
  }
  
  /* END of Wikipages*/
  /* Flairs */
  /* --- Link Flairs --- */
  .oc-tag {
    float: left;
    line-height: 19px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 0px;
  }
  
  .link .flair {
    float: left;
    margin-right: 5px;
  }
  
  .linkflairlabel {
    font-size: 10px;
    line-height: 19px;
    width: 125px;
    max-width: 10em;
    height: 18px;
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-right: 5px;
    text-align: center;
    font-weight: 700;
    background-color: #838f9c;
    color: #E6EDF5;
    vertical-align: top;
    border: none;
    border-radius: 1px;
  }
  
  .linkflair-FlairModRed .linkflairlabel {
    width: 155px;
    max-width: 155px;
    background-color: #be1a1b;
  }
  
  .linkflair-FlairUpcomingBlue .linkflairlabel,
  .linkflair-FlairGFL2 .linkflairlabel,
  .linkflair-FlairPNC .linkflairlabel {
    background-color: #3854AA;
  }
  
  .flairselector {
    z-index: 9999999999 !important;
    text-align: center !important;
    position: fixed;
    top: 15% !important;
    left: 40% !important;
    margin-left: -125px;
    padding: 32px !important;
    width: 480px !important;
    height: 542px !important;
    border: none !important;
    border-radius: 2px;
    box-shadow: none;
    background: url(%%Bigger-Selector%%);
    background-repeat: no-repeat;
  }
  
  .flairselector h2 {
    background: transparent;
    color: silver;
    text-transform: capitalize;
  }
  
  .flair {
    overflow: hidden;
    font-size: 0;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    color: rgba(0, 0, 0, 0) !important;
    width: 40px;
    height: 40px;
    margin-right: 2px;
  }
  
  .flair, linkflairlabel {
    background: none;
    border: none;
    border-radius: 0;
  }
  
  .commentarea .comment .flair {
    box-shadow: none;
  }
  
  .flair:hover {
    overflow: visible;
  }
  
  .flair[title]:after {
    font-size: 10px;
    content: attr(title);
    position: absolute;
    color: #F4FAFF;
    font-family: Calibri, sans-serif;
    text-transform: uppercase;
    top: 5px;
    background: #fff;
    box-shadow: 0 1px 10px #fff;
    padding: 0 5px;
    border-radius: 3px;
    white-space: nowrap;
    visibility: hidden;
    pointer-events: none;
    text-indent: 0;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    transform: scale(0.8, 0.4);
  }
  
  .flair[title]:hover:before, .flair[title]:hover:after, .flair[title]:active:before, .flair[title]:active:after {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    background-color: blue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: 0 1px 0 rgba(46, 46, 44, 0.3490196078);
    left: 45px;
    transition: all 0.3s cubic-bezier(0.1, 4.235, 0.215, 0.195) 0.05s, background-color 0.45s cubic-bezier(0.1, 0.235, 0.215, 1.195) 0.1s, border-right-color 0.45s cubic-bezier(0.1, 0.235, 0.215, 1.195) 0.1s;
  }
  
  div.sidecontentbox .linkflairlabel {
    padding: 0;
    width: 80px;
    font-size: 10px;
    line-height: 15px;
    height: 15px;
  }
  
  .flair {
    background-image: url(%%nbatch1%%);
    background-repeat: no-repeat;
    padding: 0;
  }
  
  .flair-1001---Persica {
    width: 40px;
    height: 40px;
    background-position: 0 0;
  }
  
  .flair-1002---Antonina {
    width: 40px;
    height: 40px;
    background-position: 0 -40px;
  }
  
  .flair-1003---Sol {
    width: 40px;
    height: 40px;
    background-position: 0 -80px;
  }
  
  .flair-1004---Simo {
    width: 40px;
    height: 40px;
    background-position: 0 -120px;
  }
  
  .flair-1005---Croque {
    width: 40px;
    height: 40px;
    background-position: 0 -160px;
  }
  
  .flair-1006---Fresnel {
    width: 40px;
    height: 40px;
    background-position: 0 -200px;
  }
  
  .flair-1007---Chelsea {
    width: 40px;
    height: 40px;
    background-position: 0 -240px;
  }
  
  .flair-1008---Gin {
    width: 40px;
    height: 40px;
    background-position: 0 -280px;
  }
  
  .flair-1009---Mai {
    width: 40px;
    height: 40px;
    background-position: 0 -320px;
  }
  
  .flair-1010---Evelyn {
    width: 40px;
    height: 40px;
    background-position: 0 -360px;
  }
  
  .flair-1011---Souchun {
    width: 40px;
    height: 40px;
    background-position: 0 -400px;
  }
  
  .flair-1012---Max {
    width: 40px;
    height: 40px;
    background-position: 0 -440px;
  }
  
  .flair-1013---Betty {
    width: 40px;
    height: 40px;
    background-position: 0 -480px;
  }
  
  .flair-1014---Choco {
    width: 40px;
    height: 40px;
    background-position: 0 -520px;
  }
  
  .flair-1015---Panakeia {
    width: 40px;
    height: 40px;
    background-position: 0 -560px;
  }
  
  .flair-1016---Banxsy {
    width: 40px;
    height: 40px;
    background-position: 0 -600px;
  }
  
  .flair-1017---Angela {
    width: 40px;
    height: 40px;
    background-position: 0 -640px;
  }
  
  .flair-1018---Florence {
    width: 40px;
    height: 40px;
    background-position: 0 -680px;
  }
  
  .flair-1019---Fern {
    width: 40px;
    height: 40px;
    background-position: 0 -720px;
  }
  
  .flair-1020---Yanny {
    width: 40px;
    height: 40px;
    background-position: 0 -760px;
  }
  
  .flair-1021---Groove {
    width: 40px;
    height: 40px;
    background-position: 0 -800px;
  }
  
  .flair-1022---Aki {
    width: 40px;
    height: 40px;
    background-position: 0 -840px;
  }
  
  .flair-1023---Bonee {
    width: 40px;
    height: 40px;
    background-position: 0 -880px;
  }
  
  .flair-1024---Earhart {
    width: 40px;
    height: 40px;
    background-position: 0 -920px;
  }
  
  .flair-1025---Chanzhi {
    width: 40px;
    height: 40px;
    background-position: 0 -960px;
  }
  
  .flair-1026---Nanaka {
    width: 40px;
    height: 40px;
    background-position: 0 -1000px;
  }
  
  .flair-1027---Zion {
    width: 40px;
    height: 40px;
    background-position: 0 -1040px;
  }
  
  .flair-1028---Vee {
    width: 40px;
    height: 40px;
    background-position: 0 -1080px;
  }
  
  .flair-1029---Willow {
    width: 40px;
    height: 40px;
    background-position: 0 -1120px;
  }
  
  .flair-1030---Ksenia {
    width: 40px;
    height: 40px;
    background-position: 0 -1160px;
  }
  
  .flair-1031---Imhotep {
    width: 40px;
    height: 40px;
    background-position: 0 -1200px;
  }
  
  .flair-1032---Octogen {
    width: 40px;
    height: 40px;
    background-position: 0 -1240px;
  }
  
  .flair-1033---Rise {
    width: 40px;
    height: 40px;
    background-position: 0 -1280px;
  }
  
  .flair-1034---Abigail {
    width: 40px;
    height: 40px;
    background-position: 0 -1320px;
  }
  
  .flair-1035---Jessie {
    width: 40px;
    height: 40px;
    background-position: 0 -1360px;
  }
  
  .flair-1036---Lam {
    width: 40px;
    height: 40px;
    background-position: 0 -1400px;
  }
  
  .flair-1037---Hubble {
    width: 40px;
    height: 40px;
    background-position: 0 -1440px;
  }
  
  .flair-1038---Sakuya {
    width: 40px;
    height: 40px;
    background-position: 0 -1480px;
  }
  
  .flair-1039---Centaureissi {
    width: 40px;
    height: 40px;
    background-position: 0 -1520px;
  }
  
  .flair-1040---Dushevnaya {
    width: 40px;
    height: 40px;
    background-position: 0 -1560px;
  }
  
  .flair[class*=-two-] {
    background-image: url(%%nbatch2%%);
    background-repeat: no-repeat;
    padding: 0;
  }
  
  .flair-two-1059---Clotho {
    width: 40px;
    height: 40px;
    background-position: 0 0px;
  }
  
  .flair-two-1058---Clukay {
    width: 40px;
    height: 40px;
    background-position: 0 -40px;
  }
  
  .flair-two-1046---Daiyan {
    width: 40px;
    height: 40px;
    background-position: 0 -80px;
  }
  
  .flair-two-1041---DeLacey {
    width: 40px;
    height: 40px;
    background-position: 0 -120px;
  }
  
  .flair-two-1060---Dupin {
    width: 40px;
    height: 40px;
    background-position: 0 -160px;
  }
  
  .flair-two-1055---Hannah {
    width: 40px;
    height: 40px;
    background-position: 0 -200px;
  }
  
  .flair-two-1042---Hatsuchiri {
    width: 40px;
    height: 40px;
    background-position: 0 -240px;
  }
  
  .flair-two-1052---Helix {
    width: 40px;
    height: 40px;
    background-position: 0 -280px;
  }
  
  .flair-two-1062---Jiangyu {
    width: 40px;
    height: 40px;
    background-position: 0 -320px;
  }
  
  .flair-two-1044---Kuro {
    width: 40px;
    height: 40px;
    background-position: 0 -360px;
  }
  
  .flair-two-1049---Magnhilda {
    width: 40px;
    height: 40px;
    background-position: 0 -400px;
  }
  
  .flair-two-1054---Millau {
    width: 40px;
    height: 40px;
    background-position: 0 -440px;
  }
  
  .flair-two-1051---Nascita {
    width: 40px;
    height: 40px;
    background-position: 0 -480px;
  }
  
  .flair-two-1048---Nora {
    width: 40px;
    height: 40px;
    background-position: 0 -520px;
  }
  
  .flair-two-1050---Puzzle {
    width: 40px;
    height: 40px;
    background-position: 0 -560px;
  }
  
  .flair-two-1043---Python {
    width: 40px;
    height: 40px;
    background-position: 0 -600px;
  }
  
  .flair-two-1047---Sockdolager {
    width: 40px;
    height: 40px;
    background-position: 0 -640px;
  }
  
  .flair-two-1045---Sueyoi {
    width: 40px;
    height: 40px;
    background-position: 0 -680px;
  }
  
  .flair-two-1057---Turing {
    width: 40px;
    height: 40px;
    background-position: 0 -720px;
  }
  
  .flair-two-1061---Undine {
    width: 40px;
    height: 40px;
    background-position: 0 -760px;
  }
  
  .flair-two-1056---Uranus {
    width: 40px;
    height: 40px;
    background-position: 0 -800px;
  }
  
  .flair-two-1053---Zangyin {
    width: 40px;
    height: 40px;
    background-position: 0 -840px;
  }
  
  .flair-Ere {
    background: url(%%EreP90%%);
    width: 40px;
    height: 40px;
  }
  
  /* END of Flairs */
  /* Comment faces */
  .md a[href^="#"]:not([href^="#/"]):not([href^="#wiki"]) {
    display: inline-block;
    position: relative;
    padding-top: 3px;
    line-height: 15px;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #fff !important;
    text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px 1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, -1px -1px 1px #000;
    cursor: default;
    pointer-events: none;
  }
  
  .md a[href^="#"]:not([href^="#/"]):not([href^="#wiki"]) > strong {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 4px;
    font-weight: 400;
  }
  
  a[href$="#FALpat"], a[href$="#TOMMYrose"], a[href$="#KARlove"], a[href$="#SPRINGtea"], a[href$="#COLTyes"], a[href$="#IDWno"], a[href$="#IDWslap"], a[href$="#ROcry"], a[href$="#KALINAmoney"], a[href$="#KALINAgem"], a[href$="#AR15bye"], a[href$="#M16stress"], a[href$="#FNCsnacc"], a[href$="#youtalkingshit"], a[href$="#M4A1spray"], a[href$="#SOPyay"], a[href$="#KALINAhoard"], a[href$="#AR15knock"], a[href$="#HKstare"], a[href$="#M4A1melon"] {
    background: url(%%JPlinesticker1%%) no-repeat;
    height: 112px;
    width: 119px;
  }
  
  a[href$="#G11sleepy"], a[href$="#WAsalty"], a[href$="#SUOMIwhat"], a[href$="#SATbaffled"], a[href$="#THUNDERbang"], a[href$="#BGMyay"], a[href$="#SOPsleep"], a[href$="#ARCHIpush"], a[href$="#IDWdea"], a[href$="#G36pat"], a[href$="#UMPcheek"], a[href$="#LOUDNOISES"], a[href$="#MK48danger"], a[href$="#NEGEVflex"], a[href$="#RuskiSquad"], a[href$="#SPASpoor"], a[href$="#P7teehee"], a[href$="#6P62ok"], a[href$="#beer"] {
    background: url(%%JPlinesticker2%%) no-repeat;
    height: 112px;
    width: 119px;
  }
  
  a[href$=T59paper] {
    background: url(%%T59%%) no-repeat;
    height: 112px;
    width: 119px;
  }
  
  a[href$="#WAicecream"], a[href$="#STECHstruck"], a[href$="#GEPwork"], a[href$="#GEPoverwork"], a[href$="#HKwakeup"], a[href$="#PERSIcauldron"], a[href$="#IDWsummon"], a[href$="#ROscream"], a[href$="#EXECbullied"], a[href$="#PPSlacc"], a[href$="#Dinerbank"], a[href$="#SPASburger"], a[href$="#LEEheart"], a[href$="#KALINArich"], a[href$="#WELdisgust"], a[href$="#IWScute"] {
    background: url(%%JPlinesticker3%%) no-repeat;
    height: 109px;
    width: 119px;
  }
  
  a[href$="#M16popcorn"], a[href$="#AR15strangle"], a[href$="#SOPok"], a[href$="#KSG2cool"], a[href$="#SR3propose"], a[href$="#flatjoke"], a[href$="#G36hot"], a[href$="#STGbath"], a[href$="#UMP9yes"], a[href$="#M4A1noty"], a[href$="#KLINnumeroUno"], a[href$="#SV98study"], a[href$="#KARboot"], a[href$="#OUROwindy"], a[href$="#L85A1menace"], a[href$="#NEGEVketchup"] {
    background: url(%%JPlinesticker4%%) no-repeat;
    height: 109px;
    width: 119px;
  }
  
  a[href$="#PersicariaMug"], a[href$="#SimoThink"], a[href$="#AkiPoint"], a[href$="#BettyDANYA"], a[href$="#EvelynThumbs"], a[href$="#HubbleWhat"] {
    background: url(%%PNCemotes%%) no-repeat;
    height: 109px;
    width: 119px;
  }
  
  a[href$="#NemesisSigh"], a[href$="#NemesisThumbs"], a[href$="#NemesisThink"], a[href$="#CharolicRage"], a[href$="#ColphneHappy"], a[href$="#ColphneLove"], a[href$="#GrozaOkay"], a[href$="#GrozaTime"], a[href$="#CharolicAngry"], a[href$="#CharolicWhat"], a[href$="#ColphneHeal"], a[href$="#ColphneLaugh"], a[href$="#PerityaTalk"], a[href$="#VepleyShock"], a[href$="#VepleyPout"], a[href$="#VepleyWink"], a[href$="#Peritya3"], a[href$="#Peritya3D"] {
    background: url(%%ExiliumEmotes%%) no-repeat;
    height: 109px;
    width: 119px;
  }
  
  a[href$="#FALpat"] {
    background-position: 0 0;
  }
  
  a[href$="#TOMMYrose"] {
    background-position: 0px -112px;
  }
  
  a[href$="#KARlove"] {
    background-position: 0px -224px;
  }
  
  a[href$="#SPRINGtea"] {
    background-position: 0px -336px;
  }
  
  a[href$="#COLTyes"] {
    background-position: 0px -448px;
  }
  
  a[href$="#IDWno"] {
    background-position: 0px -560px;
  }
  
  a[href$="#IDWslap"] {
    background-position: 0px -672px;
  }
  
  a[href$="#ROcry"] {
    background-position: 0px -784px;
  }
  
  a[href$="#KALINAmoney"] {
    background-position: 0px -896px;
  }
  
  a[href$="#KALINAgem"] {
    background-position: 0px -1008px;
  }
  
  a[href$="#AR15bye"] {
    background-position: 0px -1120px;
  }
  
  a[href$="#M16stress"] {
    background-position: 0px -1232px;
  }
  
  a[href$="#FNCsnacc"] {
    background-position: 0px -1344px;
  }
  
  a[href$="#youtalkingshit"] {
    background-position: 0px -1456px;
  }
  
  a[href$="#M4A1spray"] {
    background-position: 0px -1568px;
  }
  
  a[href$="#SOPyay"] {
    background-position: 0px -1680px;
  }
  
  a[href$="#KALINAhoard"] {
    background-position: 0px -1792px;
  }
  
  a[href$="#AR15knock"] {
    background-position: 0px -1904px;
  }
  
  a[href$="#HKstare"] {
    background-position: 0px -2016px;
  }
  
  a[href$="#M4A1melon"] {
    background-position: 0px -2128px;
  }
  
  a[href$="#G11sleepy"] {
    background-position: 0 0;
  }
  
  a[href$="#WAsalty"] {
    background-position: 0px -112px;
  }
  
  a[href$="#SUOMIwhat"] {
    background-position: 0px -224px;
  }
  
  a[href$="#SATbaffled"] {
    background-position: 0px -336px;
  }
  
  a[href$="#THUNDERbang"] {
    background-position: 0px -448px;
  }
  
  a[href$="#BGMyay"] {
    background-position: 0px -560px;
  }
  
  a[href$="#SOPsleep"] {
    background-position: 0px -672px;
  }
  
  a[href$="#ARCHIpush"] {
    background-position: 0px -784px;
  }
  
  a[href$="#IDWdea"] {
    background-position: 0px -896px;
  }
  
  a[href$="#G36pat"] {
    background-position: 0px -1008px;
  }
  
  a[href$="#UMPcheek"] {
    background-position: 0px -1120px;
  }
  
  a[href$="#LOUDNOISES"] {
    background-position: 0px -1232px;
  }
  
  a[href$="#MK48danger"] {
    background-position: 0px -1344px;
  }
  
  a[href$="#NEGEVflex"] {
    background-position: 0px -1456px;
  }
  
  a[href$="#RuskiSquad"] {
    background-position: 0px -1568px;
  }
  
  a[href$="#SPASpoor"] {
    background-position: 0px -1680px;
  }
  
  a[href$="#P7teehee"] {
    background-position: 0px -1792px;
  }
  
  a[href$="#6P62ok"] {
    background-position: 0px -1904px;
  }
  
  a[href$="#beer"] {
    background-position: 0px -2016px;
  }
  
  a[href$="#WAicecream"] {
    background-position: 0 0;
  }
  
  a[href$="#STECHstruck"] {
    background-position: 0px -112px;
  }
  
  a[href$="#GEPwork"] {
    background-position: 0px -224px;
  }
  
  a[href$="#GEPoverwork"] {
    background-position: 0px -336px;
  }
  
  a[href$="#HKwakeup"] {
    background-position: 0px -448px;
  }
  
  a[href$="#PERSIcauldron"] {
    background-position: 0px -560px;
  }
  
  a[href$="#IDWsummon"] {
    background-position: 0px -672px;
  }
  
  a[href$="#ROscream"] {
    background-position: 0px -784px;
  }
  
  a[href$="#EXECbullied"] {
    background-position: 0px -896px;
  }
  
  a[href$="#PPSlacc"] {
    background-position: 0px -1008px;
  }
  
  a[href$="#Dinerbank"] {
    background-position: 0px -1120px;
  }
  
  a[href$="#SPASburger"] {
    background-position: 0px -1232px;
  }
  
  a[href$="#LEEheart"] {
    background-position: 0px -1344px;
  }
  
  a[href$="#KALINArich"] {
    background-position: 0px -1456px;
  }
  
  a[href$="#WELdisgust"] {
    background-position: 0px -1568px;
  }
  
  a[href$="#IWScute"] {
    background-position: 0px -1680px;
  }
  
  a[href$="#M16popcorn"] {
    background-position: 0 0;
  }
  
  a[href$="#AR15strangle"] {
    background-position: 0px -112px;
  }
  
  a[href$="#SOPok"] {
    background-position: 0px -224px;
  }
  
  a[href$="#KSG2cool"] {
    background-position: 0px -336px;
  }
  
  a[href$="#SR3propose"] {
    background-position: 0px -448px;
  }
  
  a[href$="#flatjoke"] {
    background-position: 0px -560px;
  }
  
  a[href$="#G36hot"] {
    background-position: 0px -672px;
  }
  
  a[href$="#STGbath"] {
    background-position: 0px -784px;
  }
  
  a[href$="#UMP9yes"] {
    background-position: 0px -896px;
  }
  
  a[href$="#M4A1noty"] {
    background-position: 0px -1008px;
  }
  
  a[href$="#KLINnumeroUno"] {
    background-position: 0px -1120px;
  }
  
  a[href$="#SV98study"] {
    background-position: 0px -1232px;
  }
  
  a[href$="#KARboot"] {
    background-position: 0px -1344px;
  }
  
  a[href$="#OUROwindy"] {
    background-position: 0px -1456px;
  }
  
  a[href$="#L85A1menace"] {
    background-position: 0px -1568px;
  }
  
  a[href$="#NEGEVketchup"] {
    background-position: 0px -1680px;
  }
  
  a[href$="#PersicariaMug"] {
    background-position: 0 0;
  }
  
  a[href$="#SimoThink"] {
    background-position: 0 -113px;
  }
  
  a[href$="#AkiPoint"] {
    background-position: 0 -226px;
  }
  
  a[href$="#BettyDANYA"] {
    background-position: 0 -339px;
  }
  
  a[href$="#EvelynThumbs"] {
    background-position: 0 -452px;
  }
  
  a[href$="#HubbleWhat"] {
    background-position: 0 -565px;
  }
  
  a[href$="#NemesisSigh"] {
    background-position: 0 0;
  }
  
  a[href$="#NemesisThumbs"] {
    background-position: 0 -113px;
  }
  
  a[href$="#NemesisThink"] {
    background-position: 0 -226px;
  }
  
  a[href$="#CharolicRage"] {
    background-position: 0 -339px;
  }
  
  a[href$="#ColphneHappy"] {
    background-position: 0 -452px;
  }
  
  a[href$="#ColphneLove"] {
    background-position: 0 -565px;
  }
  
  a[href$="#GrozaOkay"] {
    background-position: 0 -678px;
  }
  
  a[href$="#GrozaTime"] {
    background-position: 0 -791px;
  }
  
  a[href$="#CharolicAngry"] {
    background-position: 0 -904px;
  }
  
  a[href$="#CharolicWhat"] {
    background-position: 0 -1017px;
  }
  
  a[href$="#ColphneHeal"] {
    background-position: 0 -1130px;
  }
  
  a[href$="#ColphneLaugh"] {
    background-position: 0 -1243px;
  }
  
  a[href$="#PerityaTalk"] {
    background-position: 0 -1356px;
  }
  
  a[href$="#VepleyShock"] {
    background-position: 0 -1469px;
  }
  
  a[href$="#VepleyPout"] {
    background-position: 0 -1582px;
  }
  
  a[href$="#VepleyWink"] {
    background-position: 0 -1695px;
  }
  
  a[href$="#Peritya3"] {
    background-position: 0 -1808px;
  }
  
  a[href$="#Peritya3D"] {
    background-position: 0 -1921px;
  }
  
  /* END of Comment faces */
  /* RES Fixes */
  div.RES-keyNav-activeElement {
    background-color: transparent !important;
  }
  
  div.thing div.entry.res-selected, div.thing div.entry.res-selected .md-container, div#RESShortcutsEditContainer, div#RESShortcutsSort, div#RESShortcutsRight, div#RESShortcutsLeft, div#RESShortcutsAdd {
    background-image: none !important;
    background-color: transparent !important;
  }
  
  .res .res-commentBoxes .comment {
    background-color: transparent !important;
    border: 0 !important;
    padding: 8px 0px 0px 8px !important;
    margin: 0px !important;
  }
  
  .icon-menu a, .titlebox form.toggle, .leavemoderator, .side, .morelink .nub, .sidebox .spacer, .morelink:hover .nub, .mlhn {
    background: transparent;
  }
  
  .infobar.listingsignupbar {
    display: none !important;
  }
  
  div.NERPageMarker {
    background-color: #DBE2E9 !important;
    border-radius: 0px !important;
    margin: 0px !important;
    border: 1px solid #9EA3A8 !important;
  }
  
  /* END of RES Fixes */
  body.listing-page div.content {
    margin-right: 320px;
  }
  
  .link {
    margin-right: 0px;
  }
  
  .flairoptionpane {
    max-height: 414px;
  }
  
  .reddit-infobar.with-icon {
    min-height: 45px;
    padding-left: 55px;
    margin-right: 320px;
  }
  
  /* Nightmode compatability */
  .res-nightmode div.morelink {
    background: url(%%Submission-Redesign%%) !important;
    background-color: transparent !important;
  }
  
  .res-nightmode div.sidebox, .res-nightmode div.side .titlebox {
    background-color: transparent !important;
  }
  
  .res-nightmode .side .usertext-body div.md ol, .res-nightmode .side div.md ul {
    background-color: transparent !important;
  }
  
  .res-nightmode .side .md h6, .res-nightmode div.sidebox, body.top-page.res-nightmode div.content div.menuarea, body.comments-page.res-nightmode div.content div.menuarea, .res-nightmode .commentarea, .res-nightmode .commentarea .sitetable, .res-nightmode .link .usertext-body .md {
    border-top: 1px solid #333333 !important;
    border: 1px solid #333333 !important;
    background-color: transparent;
    box-shadow: none;
  }
  
  .res-nightmode .link .usertext-body .md {
    box-shadow: 0 1px #333333, 0 -1px #333333, inset 10px 0 #333333;
  }
  
  .res-nightmode .side .md h6, .res-nightmode .side .md h6 a, .res-nightmode .link .flat-list.buttons li.first a {
    color: #cccccc !important;
  }
  
  .res-nightmode .link, .res-nightmode .link .midcol {
    box-shadow: none;
    background-color: transparent;
    border-right: none;
  }
  
  .res-nightmode .link {
    border-top: none;
    border: 1px solid #333333;
  }
  
  .res-nightmode .midcol .score, .res-nightmode div.side .titlebox, .res-nightmode .infobar, #searchexpando, .res-nightmode div.side .login-form-side {
    background-color: #333333;
    box-shadow: none;
  }
  
  .res-nightmode div#header-bottom-right {
    background-color: rgba(0, 0, 0, 0.3019607843) !important;
  }
  
  .res-nightmode .wiki-page .wiki-page-content .wiki.md {
    background: #262626;
  }
  
  /* Comments Section */
  .res-nightmode .res-commentBoxes .comment .comment, .res-nightmode .res-commentBoxes .comment .comment .comment, .res-nightmode .res-commentBoxes .comment .comment .comment .comment, .res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment, .res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment, .res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment, .res-nightmode .comment .child, .res .res-commentBoxes .comment .child {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .res-nightmode .comment .child, .res-nightmode .res .res-commentBoxes .comment .child {
    border-left: 1px solid #333333 !important;
  }
  
  .res-nightmode .infobar:not(.newsletterbar), .res-nightmode .reddit-infobar, body.comments-page.res-nightmode div.content div.menuarea, .res-nightmode div.NERPageMarker {
    background-color: transparent !important;
    border: none !important;
  }
  
  .res-nightmode .commentsignupbar__container {
    background: transparent;
  }
  
  /* Custom Tag */
  [href$="/Micateam"]:after {
    content: "Representative";
    color: #ffffff !important;
    border-color: #ffffff !important;
    background: #1e993d url(%%Sunborn%%) no-repeat 0 0;
    background-position: 0;
    background-size: auto auto;
  }
  
  [href$="/Micateam"]:after {
    border-radius: 2px;
    padding-top: 1px;
    padding-right: 4px;
    padding-bottom: 1px;
    padding-left: 45px;
    margin-left: 4px;
    margin-right: -3px;
    z-index: -1 !important;
    font-size: 11px !important;
    vertical-align: text-bottom !important;
    display: inline-block !important;
    height: 14px !important;
    line-height: 14px !important;
    font-weight: normal !important;
  }
  
  .sidecontentbox .content [href$="/Micateam"]:after {
    display: none !important;
  }
  
  div.sidecontentbox:not(#moderation_tools) ul.content li:not(.more) {
    height: 50px;
    display: inline-block;
    width: 100%;
  }
  
  .sidecontentbox:not(#moderation_tools) ul.content li span.flair {
    float: left;
  }
  
  .sidecontentbox:not(#moderation_tools) ul.content li a.author {
    margin-left: 0.5em;
  }
  
  .ad-container {
    display: none !important;
  }
  
  /* CSS FILTER */
  .side .md [href$="#re"], .side .md [href$="#tp"], .side .md [href$="#tb"], .side .md [href$="#nw"], .side .md [href$="#gg"] {
    background-color: #eee;
    color: #555;
    display: inline-block;
    font-weight: normal;
    width: 82px;
    border: 1px solid rgba(0, 0, 0, 0.1019607843);
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;
    margin-top: 3px;
  }
  
  .side div.md blockquote {
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    text-align: center;
  }
  
  html:lang(re) .linkflair-FlairFanart {
    display: none;
  }
  
  html:lang(tp) .linkflair-FlairTPost {
    display: none;
  }
  
  html:lang(nw) .linkflair-FlairFanart {
    display: none;
  }
  
  html:lang(tb) .linkflair-FlairTeambuilding {
    display: none;
  }
  
  html:lang(gg) .linkflair-FlairFanart.over18 {
    display: none;
  }
  
  html:lang(gg) .linkflair-FlairTPost {
    display: none;
  }
  
  html:lang(gg) .linkflair-FlairFanart {
    display: none;
  }
  
  html:lang(gg) .linkflair-FlairTeambuilding {
    display: none;
  }
  
  #sr-header-area {
    background-color: rgba(0, 0, 0, 0.3490196078);
  }
  
  .sr-bar a {
    color: white;
  }
  
  .entry .buttons li a {
    color: #838f9c;
  }
  
  .md a {
    color: #006fa1;
  }
  
  .commentarea .menuarea .toggle a {
    color: #838f9c;
  }
  
  .link .flat-list.buttons li a, .link .tagline {
    color: #838f9c;
  }
  
  .dropdown.lightdrop .selected {
    color: #838f9c;
  }
  
  .tagline a, .search-result-meta a {
    color: #006fa1;
  }
  
  #search {
    position: absolute;
    top: 180px;
  }
  
  body div.side {
    padding-top: 370px;
    /*padding-top: 400px;*/
  }
  
  .sidebox.submit.submit-link {
    margin-top: 3px;
  }
  
  input[name=uh] ~ a:after, .user .login-required:after {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("%%SIDE1%%");
    top: 30px;
    right: 10px;
    z-index: 0;
    width: 300px;
    height: 450px;
    border: 0px;
    content: " ";
    pointer-events: none;
  }
  
  .user .login-required:after {
    background-position: top center;
  }
  
  .res input[name=uh] ~ a:after {
    top: 150px;
  }
  
  input[name=uh][value^="0"] ~ a:after {
    background-image: url("%%SIDE1%%");
  }
  
  input[name=uh][value^="1"] ~ a:after {
    background-image: url("%%SIDE2%%");
  }
  
  input[name=uh][value^="2"] ~ a:after {
    background-image: url("%%SIDE3%%");
  }
  
  input[name=uh][value^="3"] ~ a:after {
    background-image: url("%%SIDE4%%");
  }
  
  input[name=uh][value^="4"] ~ a:after {
    background-image: url("%%SIDE5%%");
  }
  
  input[name=uh][value^="5"] ~ a:after {
    background-image: url("%%SIDE1%%");
  }
  
  input[name=uh][value^="6"] ~ a:after {
    background-image: url("%%SIDE2%%");
  }
  
  input[name=uh][value^="7"] ~ a:after {
    background-image: url("%%SIDE3%%");
  }
  
  input[name=uh][value^="8"] ~ a:after {
    background-image: url("%%SIDE4%%");
  }
  
  input[name=uh][value^="9"] ~ a:after {
    background-image: url("%%SIDE5%%");
  }
  
  input[name=uh][value^=a] ~ a:after {
    background-image: url("%%SIDE1%%");
  }
  
  input[name=uh][value^=b] ~ a:after {
    background-image: url("%%SIDE2%%");
  }
  
  input[name=uh][value^=c] ~ a:after {
    background-image: url("%%SIDE3%%");
  }
  
  input[name=uh][value^=d] ~ a:after {
    background-image: url("%%SIDE4%%");
  }
  
  input[name=uh][value^=e] ~ a:after {
    background-image: url("%%SIDE5%%");
  }
  
  input[name=uh][value^=f] ~ a:after {
    background-image: url("%%SIDE1%%");
  }
  
  input[name=uh][value^=g] ~ a:after {
    background-image: url("%%SIDE2%%");
  }
  
  input[name=uh][value^=h] ~ a:after {
    background-image: url("%%SIDE3%%");
  }
  
  input[name=uh][value^=i] ~ a:after {
    background-image: url("%%SIDE4%%");
  }
  
  input[name=uh][value^=j] ~ a:after {
    background-image: url("%%SIDE5%%");
  }
  
  input[name=uh][value^=k] ~ a:after {
    background-image: url("%%SIDE1%%");
  }
  
  input[name=uh][value^=l] ~ a:after {
    background-image: url("%%SIDE2%%");
  }
  
  input[name=uh][value^=m] ~ a:after {
    background-image: url("%%SIDE3%%");
  }
  
  input[name=uh][value^=n] ~ a:after {
    background-image: url("%%SIDE4%%");
  }
  
  input[name=uh][value^=o] ~ a:after {
    background-image: url("%%SIDE5%%");
  }
  
  input[name=uh][value^=p] ~ a:after {
    background-image: url("%%SIDE1%%");
  }
  
  input[name=uh][value^=q] ~ a:after {
    background-image: url("%%SIDE2%%");
  }
  
  input[name=uh][value^=r] ~ a:after {
    background-image: url("%%SIDE3%%");
  }
  
  input[name=uh][value^=s] ~ a:after {
    background-image: url("%%SIDE4%%");
  }
  
  input[name=uh][value^=t] ~ a:after {
    background-image: url("%%SIDE5%%");
  }
  
  input[name=uh][value^=u] ~ a:after {
    background-image: url("%%SIDE1%%");
  }
  
  input[name=uh][value^=v] ~ a:after {
    background-image: url("%%SIDE2%%");
  }
  
  input[name=uh][value^=w] ~ a:after {
    background-image: url("%%SIDE3%%");
  }
  
  input[name=uh][value^=x] ~ a:after {
    background-image: url("%%SIDE4%%");
  }
  
  input[name=uh][value^=y] ~ a:after {
    background-image: url("%%SIDE5%%");
  }
  
  input[name=uh][value^=z] ~ a:after {
    background-image: url("%%SIDE1%%");
  }
  
  /*# sourceMappingURL=stylesheet.css.map */
  